[package]
name = "shared"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow.workspace = true
serde.workspace = true
serde_json = "1"
thiserror = "1"
uuid.workspace = true
time.workspace = true
